VPN_SERVICE_PROVIDER=
VPN_TYPE=
PORT_FORWARD_ONLY=
WIREGUARD_PRIVATE_KEY=
WIREGUARD_ADDRESSES=
WIREGUARD_PUBLIC_KEY=
WIREGUARD_ENDPOINT_IP=

SERVER_COUNTRIES=

VPN_PORT_FORWARDING=
VPN_PORT_FORWARDING_PROVIDER=
PORT_FORWARDING=

VPN_PORT_FORWARDING_UP_COMMAND=
VPN_PORT_FORWARDING_DOWN_COMMAND=
